.sidebar {
    display: flex;
    flex-direction: column;
  
    background: linear-gradient(
      rgba(84, 58, 183, 1) 0%,
      rgba(0, 172, 193, 1) 100%
    );
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
  }
  
  .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover {
    background: rgba(0, 172, 193, 1);
  }
  
  .sidebar i {
    padding-right: 10px;
  }
  
  label #sidebar_btn {
    color: #fff;
    font-size: 20px;
    margin: 40px;
    transition: 0.5s;
    transition-property: color;
  
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
  }
  
  label #sidebar_btn:hover {
    color: #19b3d3;
  }
  
  #check:checked ~ .global .sidebar {
    width: 70px;
  }
  
  #check:checked ~ .global .sidebar a span {
    display: none;
  }
  
  #check:checked ~ .global .sidebar a {
    font-size: 20px;
    margin: 0px;
    width: 70px;
  }
  
  #check:checked ~ .content {
    margin-left: 60px;
  }
  
  #check {
    display: none;
  }
  