<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../CSS/main.css">
    <link rel="stylesheet" href="../../CSS/sidebar.css">
    <link rel="stylesheet" href="../../CSS/table.css">
    <link rel="stylesheet" href="../../CSS/modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <input type="checkbox" id="check">
    <header>
        <label for="check">
            <i class="fas fa-bars" id="sidebar_btn"></i>
        </label>
        <div class="left_area">
            <h3>Crew</h3>
        </div>
        <div class="right_area">
            <a href="#" class="add_btn">
                <i class="fas fa-light fa-plus" ></i>add</a>
        </div>
    </header>

    <div class="global">
        <div class="sidebar">

            <a href="../../index.html"><i class="fas fa-home"></i><span>Home</span></a>
            <a href="../view/rocket.html"><i class="fas fa-light fa-rocket"></i><span>Rocket</span></a>
            <a href="../view/crewman.html"><i class="fas fa-light fa-user"></i><span>Crewman</span></a>
            <a href="#"><i class="fas fa-light fa-users"></i><span>Crew</span></a>
            <a href="../view/launch.html"><i class="fas fa-light fa-play"></i><span>Launch</span></a>


        </div>

        <div class="data-div">
            <div class="divTable">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>Crewmans</th>
                            <th class="edit_btn">
                                Editar
                            </th>
                            <th class="delete_btn">
                                Excluir</th>
                        </tr>
                    </thead>
                    <tbody id="crew-table-body">
                    </tbody>
                </table>

                <!-- Modal para editar o nome -->
                <div id="edit-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Editar nome</h2>
                        <form>
                            <label for="name-input">Novo nome:</label>
                            <input type="text" id="name-input" name="name"><br>
                            <button type="submit">Salvar</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer>
        <h5>Biuld with ❤️ at <a href="https://www.joinplank.com/">fellowship plank </a> </h5>


    </footer>
</body>
<script src="../script/crew.js"></script>
<script src="../script/crewman.js"></script>

</html>
<!-- 
<script src="./src/script/crew.js"></script>
<script src="./src/script/crewman.js"></script> -->